// @import "compass_twitter_bootstrap";

$header_blue: #14A4EC;
$banner: #E86666;
$orange: #FF9326;
$gray: #EEE;
$section_header_bg: rgba(24,98,162,.4);
$section_header: #1862A2;
$nav2_active: #37A4EC;
$table_blue: #045EA5;

html,body,.container {
	width: 100% !important;
	height: 100%;
}

select {
	// display: block !important;
	// width: 100% !important;
	height: 38px !important;
	font-size: 15px !important;
	color: #555 !important;
	box-sizing: border-box;
	-webkit-appearance: none;
	background: transparent url("../images/icon_select_arrow.png") no-repeat right center;
}

select:focus {
	outline: none;
}

#NAV_MAIN {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 70px;
	background: black;
	box-shadow: 1px 0 5px rgba(0,0,0,.4);

	a {
		display: block;
		width: 70px;
		height: 52px;

		img {
			opacity: .5;
		}
	}

	a:first-of-type {
		margin-top: 42px;
	}

	a:hover {
		cursor: pointer;

		img {
			opacity: 1;
		}
	}

	.nav_active {
		background: $header_blue;

		img {
			opacity: 1;
		}
	}
}

#HEADER_PHONE {
	display: none;
	margin: 10px;

	.h_block {
		display: inline-block;
		vertical-align: top;
	}

	.right_aligned {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.info {
		position: relative;
		margin-bottom: 8px;

		.patient_details_phone {
			line-height: 10px;
			margin: 0 10px 0 8px;
		}

		select {
			width: 100px !important;
		}
	}

	.controls {
		position: relative;

		.phone_row {
			position: relative;

			select {
				width: 180px !important;
			}

			button {
				width: 49px;
				height: 38px;
				border: none;
				margin: 0;
				padding: 0;
			}

			input[type='search'] {
				width: 100px;
				height: 38px;
				padding: 0 0 0 8px;
				font-size: 15px;
				color: #555;
				box-sizing: border-box;
				-webkit-appearance: none;
			}
		}
	}

}

#HEADER_MAIN {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 70px;
	right: 420px;
	border-right: 1px solid #eee;
	box-sizing: border-box;

	#TABS_1 {
		height: 29px;
		background: rgba(0,0,0,.8);
		padding: 4px 10px 0 30px;
		box-sizing: border-box;
		overflow: hidden;

		a {
			display: inline-block;
			min-width: 50px;
			font-size: 12px;
			color: #aaa;
			text-decoration: none;
		}

		a:hover {
			cursor: pointer;
			color: #ddd;
		}

		a:active {
			color: white;
		}

		.static_link {
			min-width: 80px;
		}

		.patient_tab {
			display: inline-block;

			a:first-of-type {
				margin-right: 6px;
			}
		}

		.patient_tab:first-of-type {
			margin-left: 30px;
		}

		.patient_selected,
		.patient_selected:hover {
			color: $header_blue;
		}
	}

	#TITLE {
		height: 90px;
		background: $header_blue;

		img {
			display: inline-block;
		}

		#TITLES {
			display: inline-block;
			vertical-align: top;
			padding-left: 8px;

			.info {
				height: 40px;
				padding-top: 20px;

				.patient_name {
					display: inline-block;
					font-size: 36px;
					font-weight: 200;
					font-style: normal;
					line-height: 12px;
					color: white;
				}

				.patient_details {
					display: inline-block;
					margin-left: 60px;

					p {
						font-family: 'open sans';
						font-size: 14px;
						font-weight: 200;
						color: #fefefe !important;
						line-height: 10px;
					}
				}

				.controls {
					display: inline-block;
					position: absolute;
					top: 46px;
					right: 20px;
				}
			}

			.tabs {
				width: 500px;
				height: 30px;

				.tab {
					display: inline-block;
					vertical-align: top;
					min-width: 122px;
					height: 30px;
					margin-right: 6px;
					background: rgba(4,94,165,.3);
					cursor: pointer;

					.title {
						display: inline-block;
						font-size: 15px;
						font-weight: 200;
						color: #ddd;
						padding-top: 4px;
						width: 100%;
						text-align: center;
						font-family: 'open sans';
					}

					img {
						display: inline-block;
					}
				}

				.tab:hover {
					.title {
						color: white;
					}
				}

				.selected_tab {
					background: white;
					padding-right: 10px;

					.title {
						color: #18304c;
						width: auto;
						padding: 0 8px 0 28px;
					}
				}

				.selected_tab:hover {
					.title {
						color: #18304c;
					}
				}
			}
		}
	}
}

#BODY {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 70px;
	right: 420px;
	border-right: 1px solid #eee;
	background: #f2f2f2;
	overflow: hidden;

	#nav2 {
		height: 29px;
		background: rgba(0,0,0,.8);
		padding-top: 2px;
		box-sizing: border-box;

		.item {
			display: inline-block;
			width: 120px;
			text-align: center;

			a {
				font-size: 12px;
				font-family: 'open sans';
				color: #ddd;
			}

			a:hover {
				color: white;
				text-decoration: none;
			}

			.active {
				color: $nav2_active;
				pointer-events: none;
			}

			.active:hover {
				color: $nav2_active;
			}

			.arrow {
				width: 0; 
				height: 0; 
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid $header_blue;
				margin: 0 auto;
			}

		}
	}

	.subview {
		display: flex;
		flex-direction: column;
		height: 100%;

		header {
			height: 61px;
			background: $header_blue;
			position: relative;
			padding: 0 20px;
			font-family: 'open sans';
			font-weight: 200;

			.info, .date {
				display: inline-block;
				vertical-align: middle;
				line-height: 61px;
			}

			.info {
				font-size: 36px;
				color: white;
				padding-right: 50px;
			}

			.date {
				font-size: 28px;
				color: rgba(255,255,255,.6);
			}

			select {
				margin-top: 10px;
				width: 100px !important;
				font-family: 'source sans pro';
				font-size: 18px !important;
				font-weight: 200;
				text-indent: 4px;
				color: #444 !important;
				border: none;
				background: white url("../images/icon_select_arrow.png") no-repeat right center;
			}
		}

		.search {
			height: 44px;
			box-sizing: border-box;
			padding: 6px 20px;
			background: white;

			input[type='search'] {
				height: 30px;
				width: 428px;
				padding: 0;
				margin: 0;
				text-indent: 10px;
			}

			button {
				height: 32px;
				margin: 0;
				padding: 0;
				border: none;
				background: $header_blue;
			}

			.button_gray {
				padding: 0 10px;
				font-weight: 200;
				color: #444;
				background: #ddd;
			}

			.button_gray:hover {
				background: black;
				color: white;
			}

		}

		.test {
			display: flex;
			flex-direction: column;
			flex: 1;

			.test_header {
				font-size: 12px;
				font-weight: 200;
				color: white;
				background: $header_blue !important;
			}

			.test_body {
				flex: 1;
				background: #F2F2F2;
				overflow: scroll;
				margin-bottom: 30px; //WTF? why is this needed?
			}

			.test_row {
				display: flex;
				align-items: center;
				margin-bottom: 1px;
				background: white;

				p {
					padding: 0;
					margin: 0;
				}

				.general {
					font-size: 15px;
					font-weight: 300;
					color: #aaa;
				}

				.patient_name {
					font-size: 20px;
					font-weight: 300;
					color: $table_blue;
				}

				.date_encounter {
					font-size: 15px;
					color: $table_blue;
				}

				.location {
					color: $orange;
				}
			}

			.test_cell {
				flex: 1;
			}

			.col1 {
				width: 80px;
			}

			.col_last {
				width: 120px;
			}

		}








		.table {
			display: table;
			border-collapse: collapse;
			-webkit-box-flex: 1;
			overflow: scroll;

			.header_row {
				display: table-row;
				height: 20px;
				background: $header_blue !important;

				p {
					font-size: 12px;
					font-weight: 200;
					color: white;
					line-height: 0;
				}
			}

			.table_row {
				display: table-row;
				background: white;
				border-bottom: 1px solid #f2f2f2 !important;

				.table_cell {
					display: table-cell;
					vertical-align: middle;

					p {
						padding: 0;
						margin: 0;
					}

					.general {
						font-size: 15px;
						font-weight: 300;
						color: #aaa;
					}

					.patient_name {
						font-size: 20px;
						font-weight: 300;
						color: $table_blue;
					}

					.date_encounter {
						font-size: 15px;
						color: $table_blue;
					}

					.location {
						color: $orange;
					}
				}

				.table_cell:first-of-type {
					width: 80px;
				}

				.table_cell:last-of-type {
					width: 120px;
				}			
			}
		}
	}

	// .view {
	// 	position: relative;
	// 	top: 120px;
	// 	height: 100%;

	// 	.controls {
	// 		height: 50px;
	// 		border-bottom: 6px solid $header_blue;
	// 		box-sizing: border-box;
	// 		background: white;
	// 		padding: 6px 20px;
	// 		position: absolute;
	// 		left: 0;
	// 		right: 0;

	// 		button {
	// 			height: 30px;
	// 			border: none;
	// 			font-weight: 200;
	// 			padding: 0 28px;
	// 		}

	// 		.show_button {
	// 			width: 180px;
	// 			height: 30px;
	// 			background: $gray;
	// 			margin-right: 9px;
	// 			text-align: left;
	// 			padding-left: 10px;
	// 			font-weight: 300;
	// 		}

	// 		#CHART_VISIT_SEARCH {
	// 			display: inline-block;
	// 			vertical-align: top;

	// 			input {
	// 				width: 178px;
	// 			}

	// 			button {
	// 				border: none;
	// 				margin: 0;
	// 				padding: 0;
	// 				background: $header_blue;
	// 			}
	// 		}

	// 		.controls_right {
	// 			position: absolute;
	// 			right: 20px;
	// 			display: inline-block;
	// 			vertical-align: top;
	// 			text-align: right;

	// 			.orange {
	// 				background: $orange;
	// 				color: #eee;
	// 			}

	// 			.gray {
	// 				background: $gray;
	// 				color: #444;
	// 			}

	// 			.tasks {
	// 				display: inline-block;
	// 				margin-right: 10px;
	// 				color: #045EA5;
	// 				font-size: 16px;
	// 			}
	// 		}
	// 	}

	// 	.info_box {
	// 		width: 0px;
	// 		height: 437px;
	// 		position: absolute;
	// 		top: 67px;
	// 		right: 17px;
	// 		box-shadow: 0 0 10px rgba(0,0,0,.4);
	// 		background: white;
	// 		transition: .2s;
	// 		opacity: 0;
	// 		overflow: hidden;

	// 		header {
	// 			width: 100%;
	// 			height: 50px;
	// 			box-sizing: border-box;
	// 			border-bottom: 6px solid $header_blue;
	// 			text-align: center;
	// 			font-family: 'open sans';
	// 			font-size: 20px;
	// 			font-weight: 200;
	// 			padding-top: 10px;
	// 			color: #333;
	// 			position: relative;

	// 			.icon_close {
	// 				position: absolute;
	// 				top: 4px;
	// 				right: 10px;
	// 				font-size: 28px;
	// 				font-weight: 200;
	// 				color: #ddd;
	// 			}

	// 			.icon_close:hover {
	// 				text-decoration: none;
	// 				color: black;
	// 				cursor: pointer;
	// 			}
	// 		}
	// 	}

	// 	.info_box_visible {
	// 		width: 383px;
	// 		opacity: 1;
	// 	}

	// 	.content {
	// 		overflow-x: hidden;
	// 		overflow-y: scroll; 
	// 		position: absolute;
	// 		left: 0;
	// 		right: 0;
	// 		top: 50px;
	// 		bottom: 0;
	// 		padding-top: 17px;
	// 		transition: .2s;

	// 		section {
	// 			padding-bottom: 20px;

	// 			header {
	// 				background: $section_header_bg;
	// 				margin-bottom: 10px;

	// 				.section_title {
	// 					display: inline-block;
	// 					padding: 0 20px;
	// 					font-family: 'Source sans pro';
	// 					font-size: 19px;
	// 					font-weight: 200;
	// 					line-height: 30px;
	// 					color: white;
	// 					background: #1862A2;
	// 				}

	// 				.options {
	// 					display: inline-block;
	// 					padding-left: 10px;

	// 					a {
	// 						margin-right: 30px;
	// 						font-weight: 200;
	// 						color: #eee;
	// 					}

	// 					a:hover {
	// 						color: white;
	// 						text-decoration: none;
	// 						cursor: pointer;
	// 					}
	// 				}
	// 			}

	// 			.section_content {
	// 				padding-left: 20px;

	// 				a {
	// 					font-size: 15px;
	// 					font-weight: 300;
	// 				}

	// 				a:hover {
	// 					text-decoration: none;
	// 					cursor: pointer;
	// 				}

	// 				.table_h {
	// 					display: table;
	// 					line-height: 10px;

	// 					.table_h_cell {
	// 						display: table-cell;
	// 						width: 115px;

	// 						.cell_header {
	// 							font-size: 12px !important;
	// 							color: #888 !important;
	// 						}
	// 					}
	// 				}

	// 				ul {
	// 					list-style: none;
	// 					margin: 0;
	// 					margin-left: 10px;

	// 					li {
	// 						font-size: 15px;
	// 						font-weight: 300;
	// 						color: #888;
	// 						margin-bottom: 6px;
	// 						text-indent: -10px;

	// 						span {
	// 							margin-right: 10px;
	// 						}

	// 						.light {
	// 							color: #ccc;
	// 						}
	// 					}

	// 					li:before {
	// 						content:' - ';
	// 						color: $header_blue;
	// 					}
	// 				}

	// 				.link_historical {
	// 					color: #14A4EC;
	// 					margin-left: 9px;
	// 					opacity: .6;
	// 				}

	// 				.link_historical:hover {
	// 					opacity: 1;
	// 					text-decoration: none;
	// 					cursor: pointer;
	// 				}

	// 			}
	// 		}
	// 	}

	// 	.content_reduced {
	// 		right: 400px !important;
	// 		border-right: none !important;
	// 	}
	// }
}

#AD_RIGHT {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 420px;
	margin-top: 29px;

	.ad {
		display: block;
		width: 360px;
		height: 600px;
		background: $banner;
		margin: 0 auto;
	}
}

#AD_BOTTOM {
	display: none;
	position: fixed;
	bottom: 0;
	left: 70px;
	right: 0;
	height: 150px;
	border-top: 1px solid #eee;

	.ad {
		display: block;
		width: 728px;
		height: 90px;
		background: $banner;
		margin: 0 auto;
		margin-top: 30px;
	}
}






@media only screen and (max-width: 1230px) {
	#BODY, #HEADER_MAIN {
		right: 220px;
	}

	#AD_RIGHT {
		width: 220px;

		.ad {
			width: 160px;
		}
	}
}

@media only screen and (max-width: 1030px) {
	#HEADER_MAIN, #BODY {
		right: 0;
	}

	#AD_RIGHT {
		display: none;
	}

	#AD_BOTTOM {
		display: block;
	}

	#BODY {
		bottom: 150px;
	}
}

@media only screen and (max-width: 825px) {
	#NAV_MAIN, #HEADER_MAIN, #AD_BOTTOM {
		display: none;
	}

	#HEADER_PHONE {
		display: block;
	}

	#BODY {
		left: 0;
		bottom: 0;

		.view {
			.controls {
				display: none;
			}

			.content {
				top: 0;
			}

			.content_reduced {
				right: 0 !important;
				opacity: .3;
				z-index: -1;
			}		

			.info_box_visible {
				width: auto;
				height: auto;
				top: -280px;
				right: 10px;
				bottom: 10px;
				left: 10px;
			}	
		}
	}

	
}