@import "compass_twitter_bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);


$header_blue: #14A4EC;
$banner: #E86666;
$orange: #FF9326;
$gray: #DDD;
$yellow: #FFFFBF;
$section_header_bg: rgba(24,98,162,.4);
$section_header: #1862A2;
$nav2_active: #37A4EC;
$table_blue: #045EA5;
$tab_bg: rgba(4,94,195,.3);
$control_bg_gray: #eee;
$section_title_bg: #1862A2;
$section_active: rgba(24,98,162,.4);
$body_bg: #f2f2f2;

html,body,.container {
	width: 100%;
	height: 100%;
  	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.orange {
	color: $orange;
}

a:hover {
	cursor: pointer;
	text-decoration: none !important;
}

p {
	margin: 0;
	padding: 0;
}

button,
input,
select {
	height: 30px;
  	margin-bottom: 0 !important;
	font-family: 'source sans pro';
	font-size: 16px;
	font-weight: 200;
	line-height: 16px;
	color: #444;
	vertical-align: middle;
	appearance: none;
	border: none;
	border-radius: 0 !important;
}

select {
	text-indent: 4px;
	background: white url("../images/icon_select_arrow.png") no-repeat right center;
}

select:focus {
	outline: none;
}

.select_actions {
	width: 100px;
}

.select_show {
	width: 170px;
	margin-right: 20px;
	background: $control_bg_gray url("../images/icon_select_arrow.png") no-repeat right center;
}

button {
	padding: 0 20px;
}

.button_gray {
	background: $gray;
}

.button_orange {
	background: $orange;
	color: white;
}

.button_close {
	width: 10px;
	height: auto;
	opacity: .7;
}

.button_close:hover {
	opacity: 1;
}

.input-append {
	margin: 0 !important;

	button {
		padding: 0;
		background: $header_blue;
	}
}

.align-items-left {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.align-items-right {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

// PRIMARY RESPONSIVE SECTIONS

#NAV_MAIN {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 70px;
	background: black;
	box-shadow: 1px 0 5px rgba(0,0,0,.4);

	a {
		display: block;
		width: 70px;
		height: 52px;

		img {
			opacity: .5;
		}
	}

	a:first-of-type {
		margin-top: 42px;
	}

	a:hover {

		img {
			opacity: 1;
		}
	}

	.nav_active {
		background: $header_blue;

		img {
			opacity: 1;
		}
	}
}

#BODY {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 70px;
	right: 420px;
	border-right: 1px solid #eee;
	background: $body_bg;
	overflow: hidden;

	#nav2 {
		display: flex;
		align-items: center;
		height: 30px;
		background: rgba(0,0,0,.8);
		box-sizing: border-box;

		li {
			width: 120px;
			text-align: center;
			position: relative;

			a {
				font-size: 12px;
				font-family: 'open sans';
				color: #ddd;
			}

			a:hover {
				color: white;
			}

			.active {
				color: $nav2_active;
				pointer-events: none;
			}

			.active:hover {
				color: $nav2_active;
			}

			.arrow {
				position: absolute;
				left: 50%;
				width: 0; 
				height: 0; 
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid $header_blue;
			}

		}
	}

	.subview {
		flex: 1;
		display: flex;
		flex-direction: column;

		header {
			display: flex;
			align-items: center;
			background: $header_blue;
			font-family: 'open sans';
			font-weight: 200;
		}

		.controls {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 44px;
			padding: 0 20px;
			background: white;
			border-bottom: 6px solid $header_blue;
		}

		.table {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;

			.table_header {
				font-size: 12px;
				font-weight: 200;
				color: white;
				background: $header_blue !important;
			}

			.table_body {
				flex: 1;
				background: #F2F2F2;
				overflow: scroll;
			}

			.patient_row:hover {
				background: #eee;
			}

			.table_row {
				display: flex;
				align-items: center;
				margin-bottom: 1px;
				background: white;

				p {
					padding: 0;
					margin: 0;
				}

				.general {
					font-size: 15px;
					font-weight: 300;
					color: #aaa;
				}

				.patient_name {
					font-size: 20px;
					font-weight: 300;
					color: $table_blue;
				}

				.date_encounter {
					font-size: 15px;
					color: $table_blue;
				}

				.location {
					color: $orange;
				}
			}

			.table_cell {
				flex: 1;
			}

			.col1 {
				width: 80px;
			}

			.col_last {
				width: 120px;
			}
		}

		.cds {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			max-height: 0;
			padding: 0 20px 0 22px;
			color: #444;
			font-size: 15px;
			font-weight: 300;
			background: $yellow;
			transition: max-height .2s;
			overflow: hidden;

			.info {
				max-width: 80%;

				p:not(:first-of-type) {
					margin: 8px 0;
				}

				.row_header {
					font-weight: 400;
				}
			}

			.learn_more {
				flex: 1;
				color: $table_blue;
				padding: 0 30px;
			}
		}

		.cds_open {
			padding: 8px 20px 8px 22px;
			max-height: 100px;
		}

		.body {
			flex: 1;
			display: flex;

			.content {
				flex: 1;
				padding-top: 30px;
			}

			.editor {
				width: 0px;
				height: 447px;
				margin: 20px 0; 
				background: white;
				box-shadow: 0 0 2px 2px rgba(0,0,0,0);
				transition: .3s;
				overflow: hidden;

				header {
					display: flex;
					align-items: center !important;
					height: 44px;
					padding-right: 10px;
					box-sizing: border-box;
					background: white;
					border-bottom: 6px solid $header_blue;

					.title {
						flex: 1;
						font-size: 24px;
						color: #333;
						text-align: center;
					}
				}
			}

			.editor_open {
				width: 380px;
				margin: 20px 10px;
				box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
			}
		}

		// VIEWS
		// views are specific screens, defined by html templates
		// they are defined using flexbox to make defining nested scrolling areas easier
		.view {
			flex: 1;
			display: flex;
			flex-direction: column;
		}

		.scroll {
			flex: 1; 
			overflow-y: auto;
			overflow-x: hidden; 
		}

		#CHARTS_SCHEDULED {
			header {
				padding: 20px;

				.info {
					font-size: 36px;
					color: white;
					padding-right: 50px;
				}

				.date {
					font-size: 28px;
					color: rgba(255,255,255,.6);
				}
			}

			.controls {
				input[type='search'] {
					width: 380px;
				}
			}
		}

		#CHARTS_PATIENT {

			header {
				align-items: flex-end;

				img {
					width: 91px;
				}

				.info {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					flex: 1;
					padding-right: 20px;

					.row {
						display: flex;
						align-items: flex-end;
						margin-left: 20px;

						.h_block {
							margin-right: 40px;
						}

						.patient_name {
							font-size: 36px;
							font-weight: 200;
							color: white;
							line-height: 36px;
						}

						.general {
							font-size: 14px;
							font-weight: 200;
							color: #eee;
							line-height: 18px;
						}
					}

					.tabs {
						display: flex;
						margin-left: 20px;
						padding-top: 12px;

						.tab {
							padding: 5px 20px;
							margin-right: 10px;
							font-size: 15px;
							color: #eee;
							background: $tab_bg;

							p {
								margin: 0 auto;
							}
						}

						.tab:hover {
							color: white;
						}

						.active {
							color: #18304C;
							background: white;
							pointer-events: none;
						}

						.active:hover {
							color: #18304C;
						}
					}
				}
			}
		}

		#CHARTS_PATIENT_FACESHEET {

			.body {

				.content {

					section {
						background: $body_bg;
						margin-right: 10px;
						margin-bottom: 20px;

						header {
							font-weight: 200;
							font-size: 18px;
							line-height: 28px;
							padding-right: 20px;
							background: none;

							.section_title {
								padding: 0 20px;
								color: #ddd;
								background: $section_title_bg;
								margin-right: 20px;
							}

							a {
								font-size: 16px;
								color: $header_blue;
								margin-right: 30px;
							}
						}

						ul {
							width: 100%;
							height: 100%;
							background: $body_bg;
							margin: 0;
							padding: 10px 0 0 30px;

							list-style: none;

							li {
								font-size: 15px;
								font-weight: 300;
								color: #888;
								margin-bottom: 6px;
								text-indent: -10px;

								span {
									margin-right: 10px;
								}

								.light {
									color: #ccc;
								}
							}

							li:before {
								content:' - ';
								color: $header_blue;
							}
						}

						footer {
							padding-left: 20px;
							background: $body_bg;

							a {
								font-size: 16px !important;
								font-weight: 200;
								color: $header_blue;
							}

							a:hover {
								color: black;
							}
						}
					}

					section:hover {
						background: $section_active;

						header a {
							color: #eee;
						}

						header a:hover {
							color: white;
						}
					}
				}
			}

		}
	}

}

#AD_RIGHT {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 420px;
	margin-top: 29px;

	.ad {
		display: block;
		width: 360px;
		height: 600px;
		background: $banner;
		margin: 0 auto;
	}
}

#AD_BOTTOM {
	display: none;
	position: fixed;
	bottom: 0;
	left: 70px;
	right: 0;
	height: 150px;
	border-top: 1px solid #eee;

	.ad {
		display: block;
		width: 728px;
		height: 90px;
		background: $banner;
		margin: 0 auto;
		margin-top: 30px;
	}
}




@media only screen and (max-width: 1230px) {
	#BODY, #HEADER_MAIN {
		right: 220px;
	}

	#AD_RIGHT {
		width: 220px;

		.ad {
			width: 160px;
		}
	}
}

@media only screen and (max-width: 1030px) {
	#HEADER_MAIN, #BODY {
		right: 0;
	}

	#AD_RIGHT {
		display: none;
	}

	#AD_BOTTOM {
		display: block;
	}

	#BODY {
		bottom: 150px;
	}
}

@media only screen and (max-width: 825px) {
	#NAV_MAIN, #HEADER_MAIN, #AD_BOTTOM {
		display: none;
	}

	#HEADER_PHONE {
		display: block;
	}

	#BODY {
		left: 0;
		bottom: 0;

		.view {
			.controls {
				display: none;
			}

			.content {
				top: 0;
			}

			.content_reduced {
				right: 0 !important;
				opacity: .3;
				z-index: -1;
			}		

			.info_box_visible {
				width: auto;
				height: auto;
				top: -280px;
				right: 10px;
				bottom: 10px;
				left: 10px;
			}	
		}
	}
}