<nav id="nav2">
	<li>
		<a ui-sref="ehr.charts.scheduled" ng-class="{active:state.current.name=='ehr.charts.scheduled'}">Scheduled</a>
		<div class="arrow" ng-show="state.current.name=='ehr.charts.scheduled'"></div>
	</li>
	<li class="item">
		<a ui-sref="ehr.charts.recent" ng-class="{active:state.current.name=='ehr.charts.recent'}">Recently Seen</a>
		<div class="arrow" ng-show="state.current.name=='ehr.charts.recent'"></div>
	</li>
	<li class="item" ng-show="state.current.name=='ehr.charts.search'">
		<a class="active">Search</a>
		<div class="arrow"></div>
	</li>
</nav>

<div class="subview" ui-view=""></div>