<div id="CHARTS_PATIENT_FACESHEET">

	<div class="controls">
		<div class="align-items-left">
			<select class="select_show">
				<option>Show...</option>
			</select>

			<div class="input-append">
				<input type="search" placeholder="Search">
			  	<button><img src="images/search_icon.png"></button>
			</div>
		</div>
		
		<div class="align-items-right">
			<button class="button_gray">Add New Patient</button>
		</div>
	</div>

	<div class="content">
		<section>
			<header>
				<div class="section_title">Medications</div>
				<a href="#">Record</a>
				<a href="#">Order</a>
			</header>
			<ul>
			</ul>
		</section>
	</div>
</div>