<div id="CHARTS_PATIENT" class="view">
	<header>
		<img ng-src="{{patient.image}}">
		<div class="info">
			<div class="row">
				<div class="h_block">
					<p class="patient_name">{{patient.firstName}} {{patient.lastName}}</p>
				</div>
				<div class="h_block">
					<p class="general">{{patient.dob | age}} {{patient.sex}}</p>
					<p class="general">{{patient.dob | date:'MMM d, yyyy'}}</p>
				</div>
				<div class="h_block">
					<p class="general">{{patient.phone | phone}}</p>
					<p class="general">{{patient.insurance}}</p>
				</div>
				<div class="align-items-right">
					<select class="select_actions">
						<option>Actions</option>
					</select>
				</div>
			</div>
			<div class="tabs">
				<a class="tab" ng-class="{active: state.current.name=='ehr.charts.patient.facesheet'}" ui-sref="ehr.charts.patient.facesheet">Facesheet</a>
				<a class="tab" ng-class="{active: state.current.name=='ehr.charts.patient.timeline'}" ui-sref="ehr.charts.patient.timeline">Timeline</a>
			</div>
		</div>
	</header>

	<div class="subview" ui-view></div>
</div>