<header>
	<div class="info">{{patients.length}} Scheduled Patient<span ng-show="patients.length > 1">s</span></div>
	<div class="date">{{today}}</div>
	<select class="pull-right">
		<option>Actions</option>
	</select>
</header>

<section class="search">
	<div class="input-append">
		<input type="search" placeholder="Search using first, last name, SS#, MedID or DOB" ng-model="search" ng-change="searchUpdate(search)" autofocus>
	  	<button class="btn" type="button"><img src="images/search_icon.png"></button>
	</div>
	<button class="button_gray pull-right">Add New Patient</button>
</section>

<section class="table">
	<div class="table_row header_row">
		<div class="table_cell"></div>
		<div class="table_cell"><p>PATIENT/CC</p></div>
		<div class="table_cell"><p>AGE, GENDER/DOB</p></div>
		<div class="table_cell"><p>LAST ENCOUNTER/DX</p></div>
		<div class="table_cell"><p>APPT/STATUS</p></div>
	</div>
	<div class="table_row" ng-repeat="patient in patients | orderBy:'appt'">
		<div class="table_cell">
		<img ng-src="{{patient.image}}">
		</div>
		<div class="table_cell">
			<p class="patient_name">{{patient.firstName}} {{patient.lastName}}</p>
			<p class="general">{{patient.cc}}</p>
		</div>
		<div class="table_cell">
			<p class="general">{{patient.dob | age}} {{patient.sex}}</p>
			<p class="general">{{patient.dob | date:'MMM d, yyyy'}}</p>
		</div>
		<div class="table_cell">
			<p class="date_encounter">{{patient.last_visit | date:'MMM d, yyyy'}}</p>
			<p class="general">{{patient.last_dx}}</p>
		</div>
		<div class="table_cell">
			<p class="date_encounter">{{patient.appt | date:'h:mm a'}}</p>
			<p class="location">{{patient.status}}</p>
		</div>
	</div>
</section>