<div id="CHARTS_PATIENT" class="view">
	<header>
		<img ng-src="{{patient.image}}">
		<div class="info">
			<div class="header_row">
				<p class="patient_name margin-r-40">{{patient.firstName}} {{patient.lastName}}</p>
				<p class="general margin-r-40">{{patient.dob | age}} {{patient.sex}}</p>
				<p class="general margin-r-40">{{patient.dob | date:'MMM d, yyyy'}}</p>
				<p class="general margin-r-40">{{patient.phone | phone}}</p>
				<p class="general margin-r-40">{{patient.insurance}}</p>
			</div>
			<div class="tabs">
				<a class="tab" ng-class="{active: state.current.name=='ehr.charts.patient.facesheet'}" ui-sref="ehr.charts.patient.facesheet"><p>Facesheet</p></a>
				<a class="tab" ng-class="{active: state.current.name=='ehr.charts.patient.timeline'}" ui-sref="ehr.charts.patient.timeline"><p>Timeline</p></a>
				<a class="tab tab_closable" ng-class="{active: state.current.name=='ehr.charts.patient.encounter'}" ui-sref="ehr.charts.patient.encounter">
					<img class="icon" src="images/icon_encounter_selected.png" ng-show="state.current.name=='ehr.charts.patient.encounter'">
					<img class="icon" src="images/icon_encounter.png" ng-show="state.current.name!='ehr.charts.patient.encounter'">
					<p>{{model.now}}</p>
				</a>
				<div class="flex-right text-right">
					<select class="select_actions">
						<option>Actions</option>
					</select>
				</div>
			</div>
		</div>
	</header>

	<div class="subview" ui-view></div>
</div>