<div id="CHARTS_PATIENT_FACESHEET" class="view">
	<div class="row controls border_b_blue">
		<div class="col-xs-3">
			<select class="select_show" ng-model="showing">
				<option>Show...</option>
				<option>CDS</option>
			</select>
		</div>
		<div class="col-xs-4">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><img src="images/search_icon.png"></button>
				</span>
			</div>
		</div>

		<div class="col-xs-5 text-right">
			<button class="button_orange">Start Encounter</button>
		</div>
	</div>

	<div class="cds" ng-class="{cds_open:showCDS}">
		<div class="row">
			<div class="col-xs-9">{{patient.cds.cds}}</div>
			<div class="col-xs-2">
				<a ng-click="cdsMore=true">Learn More</a>
			</div>
			<div class="col-xs-1 text-right">
				<a class="button_close" ng-click="showCDS=!showCDS"><img src="images/icon_close.png"></a>
			</div>
		</div>
		<div ng-show="cdsMore">
			<div class="row">
				<p class="col-xs-12">Intervention Developer: {{patient.cds.interventor}}</p>
			</div>
			<div class="row">
				<p class="col-xs-12">Citation: {{patient.cds.citor}}</p>
			</div>
			<div class="row">
				<p class="col-xs-12">Sponsored By: {{patient.cds.sponsor}}</p>
			</div>
		</div>
	</div>

	<div class="body">
		<div class="content scroll">
			<section id="medicatons">
				<header>
					<div class="section_title">Medications</div>
				</header>
				<ul class="indented_list">
					<li ng-repeat="med in patient.medications | orderBy:'date'">
						<span><a ng-click="showEditor('Editor')">{{med.name}}</a></span>
						<span>{{med.method}}</span>
						<span>{{med.dosage}}</span>
						<span class="light">{{med.doctor}}</span>
						<span>{{med.date | date:'MM/dd/yyyy'}}</span>
						<span>{{med.refill}}</span>
					</li>
				</ul>
				
<!-- 				<div class="row" ng-repeat="med in patient.medications | orderBy:'date'">
					<div class="col-xs-2">{{med.name}}</div>
					<div class="col-xs-2">{{med.method}}</div>
					<div class="col-xs-2">{{med.dosage}}</div>
					<div class="col-xs-2">{{med.doctor}}</div>
					<div class="col-xs-2">{{med.date |date:'MM/dd/yyyy'}}</div>
					<div class="col-xs-2">{{med.refill}}</div>
				</div>
 -->
			</section>
			<section id="problem_list">
				<header>
					<div class="section_title">Problem List</div>
				</header>
				<ul class="indented_list">
					<li ng-repeat="problem in patient.problems | orderBy:'date'">
						<span><a ng-click="showEditor('Editor')">{{problem.name}}</a></span>
						<span class="light">{{problem.metric}}</span>
						<span>{{problem.doctor}}</span>
						<span>{{problem.date | date:'MM/dd/yyyy'}}</span>
					</li>
				</ul>
			</section>
			<section id="medical_history">
				<header>
					<div class="section_title">Medical History</div>
				</header>
				<ul class="indented_list">
					<li ng-repeat="med in patient.medicalHistory | orderBy:'date'">
						<span><a ng-click="showEditor('Editor')">{{med.name}}</a></span>
						<span class="light">{{med.metric}}</span>
						<span>{{med.doctor}}</span>
						<span>{{med.date | date:'MM/dd/yyyy'}}</span>
					</li>
				</ul>
			</section>
			<section id="surgical_history">
				<header>
					<div class="section_title">Surgical History</div>
				</header>
				<ul class="indented_list">
					<li ng-repeat="sur in patient.surgicalHistory | orderBy:'date'">
						<span><a ng-click="showEditor('Editor')">{{sur.name}}</a></span>
						<span class="light">{{sur.metric}}</span>
						<span>{{sur.doctor}}</span>
						<span>{{sur.date | date:'yyyy'}}</span>
					</li>
				</ul>
			</section>
			<section id="family_history">
				<header>
					<div class="section_title">Family History</div>
				</header>
				<ul class="indented_list">
					<li ng-repeat="fam in patient.familyHistory | orderBy:'name'">
						<span><a ng-click="showEditor('Editor')">{{fam.name}}</a></span>
						<span>{{fam.relation}}</span>
						<span class="light">Age {{fam.date | age}}</span>
					</li>
				</ul>
			</section>
			<section id="social_history">
				<header>
					<div class="section_title">Social History</div>
				</header>
				<ul class="indented_list">
					<li ng-repeat="soc in patient.socialHistory | orderBy:'name'">
						<span><a ng-click="showEditor('Editor')">{{soc.name}}</a></span>
						<span>{{soc.info}}</span>
						<span class="light">{{soc.detail}}</span>
					</li>
				</ul>
			</section>
			<section id="daily_living">
				<header>
					<div class="section_title">Daily Living</div>
				</header>
				<ul class="indented_list">
					<li>None Recorded</li>
				</ul>
			</section>
			<section id="advisories">
				<header>
					<div class="section_title">Advisories</div>
				</header>
				<ul class="indented_list">
					<li>
						<span>No smoking status recorded</span>
						<span><a>Record</a></span>
					</li>
					<li>
						<span>BP may not be adequately controlled</span>
						<span class="orange">Last recorded BP 142/94 (today)</span>
						<span><a>Document Plan</a></span>
					</li>
					<li>
						<span>High risk medication for patients over 65 years old</span>
						<span class="orange">Ativan</span>
						<span><a>Document Reason</a></span>
					</li>
				</ul>
			</section>
			<section id="psych_assessment">
				<header>
					<div class="section_title">Psychological Assessment</div>
				</header>
				<ul class="indented_list">
					<li ng-repeat="psych in patient.psychAssessments | orderBy:'date'">
						<span><a ng-click="showEditor('Editor')">{{psych.name}}</a></span>
						<span>{{psych.doctor}}</span>
						<span class="light">{{psych.date | date:'yyyy'}}</span>
					</li>
				</ul>
			</section>
			<section id="orders">
				<header>
					<div class="section_title">Orders</div>
					<select class="select_editor_blue" ng-model="orderTypes.value" ng-options="o.value as o.label for o in orderTypes.options"></select>
				</header>
				<ul class="indented_list">
					<!-- ORDER -->
					<li ng-repeat="order in patient.orders">
						<!-- LAB -->
						<a ng-class="{editor_source:checkLabCriteria(order)}" ng-click="showOrder(order)">{{order.lab.name}}</a>
						<!-- TESTS -->
						<ul ng-show="order.id==selected_order.id"> 
							<!-- TEST -->
							<li class="hyphenated" ng-class="{editor_source:checkTestCriteria(test)}" ng-repeat="test in order.tests track by $index">
								<a ng-click="showTest(test)">{{test.name}}</a>
							</li>
							<li ng-class="{editor_source:editor.type=='lab_test_selection'}">
				 				<div class="select_lab_input">
                  <div class="input-group">
										<!-- INPUT: ADD TEST -->
									  	<input type="text" class="form-control" ui-event="{focus:'onFocus()'}" placeholder="Add another test name" ng-model="test" typeahead="test as test.name for test in model.lab_tests | filter:$viewValue" typeahead-on-select="addTest(test)">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button"><img src="images/icon_list.png"></button>
										</span>
									</div>
							 	</div>
							</li>
						</ul>
					</li>
					<!-- INPUT: ADD LAB -->
					<li class="no_hyphen editor_source" ng-show="editor.type=='lab_selection'">
		 				<div class="select_lab_input">
		 					<div class="input-group">
								<!-- INPUT: ADD LAB -->
							  	<input type="text" class="form-control" placeholder="Lab to perform test" ng-model="selectedLab" typeahead="lab as lab.name for lab in model.labs | filter:$viewValue" typeahead-on-select="addLabOrder(selectedLab)">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><img src="images/icon_list.png"></button>
								</span>
							</div>
						</div>
					</li>
				</ul>
			</section>
			<section id="clinical_summary">
				<header>
					<div class="section_title">Clinical Summary</div>
				</header>
				<ul class="indented_list">
					<li>None Recorded</li>
				</ul>
			</section>
			<section class="extra_height_500"></section>
		</div>

		<div class="editors" ng-show="editor">
			<editor-lab-selection class="editor_container" ng-show="editor.type=='lab_selection'"></editor-lab-selection>
			<editor-lab-detail class="editor_container" ng-show="editor.type=='lab_detail'"></editor-lab-detail>
			<editor-lab-test-selection class="editor_container" ng-show="editor.type=='lab_test_selection'"></editor-lab-test-selection>
			<editor-lab-test-detail class="editor_container" ng-show="editor.type=='lab_test_detail'"></editor-lab-test-detail>
		</div>		
	</div>
</div>