<div class="editor" ng-class="{editor_slide: editor.type=='lab_test'}">
	<div class="editor_header">
		<div class="editor_header_1">
			<a ng-click="scrollToSelection()">Orders</a>
			<a ng-click="closeEditor()"><img src="images/icon_close.png"></a>
		</div>
		<div class="editor_header_2">
			<a ng-click="scrollToSelection()"><img src="images/icon_editor_back.png"></a>
			<a class="title" ng-click="scrollToSelection()">{{selected_order.name}}</a>
		</div>
	</div>

	<div class="editor_body">
		<div id="carousel-editor-order" class="carousel slide">
	      <div class="carousel-inner">
	        <div class="item active">
	        	<form name="form_lab_test_detail" class="editor_form" role="form" novalidate>
					<div class="form-group">
						<select class="select_editor_blue col-sm-12" ng-model="selected_order.lab" ng-options="i.name for i in model.labs" tabindex="1" ng-change="labSelected()" required>
							<option value="">Select a lab</option>
						</select>
					</div>
					<div class="form-group" ng-show="selected_order.lab">
						<!-- <div class="input-group"> -->
						  	<input id="input_all_dx" type="text" class="form-control" placeholder="Add diagnoses for all tests" ng-model="selected_order.dx_all" typeahead="dx for dx in model.dx | filter:$viewValue | orderBy:'name'" typeahead-on-select="applyAll()" ui-event="{ blur : 'applyAll()' }"  tabindex="2">
							<!-- <span class="input-group-addon"><span class="glyphicon glyphicon-list"></span></span> -->
						<!-- </div> -->
					</div>
					<div class="form-group" ng-show="selected_order.dx_all">
						<!-- <div class="input-group"> -->
			              <input id="input_add_test" type="text" class="form-control" placeholder="{{getAddTestPlaceholder()}}" ng-model="test" typeahead="test as test.name for test in model.lab_tests | filter:$viewValue | orderBy:'name'" typeahead-on-select="addTest(test)" tabindex="3">
						<!-- <span class="input-group-addon"><span class="glyphicon glyphicon-list"></span></span> -->
			          <!-- </div> -->
			        </div>
				</form>
				<ul class="editor_test_list">
					<li ng-repeat="test in selected_order.tests">
						<a ng-click="showTest(test, selected_order, $index)">{{test.name}}</a>
						<a ng-click="deleteTest(test)">x</a>
					</li>
				</ul>
				<div class="editor_order_test_advanced" ng-show="selected_order.dx_all">
					<tabset>
						<tab heading="Favorites">
							<ul class="editor_list">
								<li ng-repeat="recent in model.lab_tests | limitTo:3" tabindex="4" ui-keypress="{13:'addTest(recent)'}">
									<a ng-click="addTest(recent)">
										<p>{{recent.name}}</p>
									</a>
								</li>
							</ul>
						</tab>
						<tab heading="Recommended">
							<div class="recommended_header">Recommended by the <a href="http://www.nih.gov" target="_blank">NIH</a>:</div>
							<ul class="editor_list">
								<li ng-repeat="template in model.lab_test_templates track by $index">
									<a ng-click="addTemplate(template)">
										<p>{{template.name}}</p>
										<p><span ng-repeat="test in template.tests track by $index">{{test.name}}; </span></p>
									</a>
								</li>
							</ul>
						</tab>
					</tabset>
				</div>	
	        </div>
	        <div class="item" ng-repeat="test in selected_order.tests">
	        	<form name="form_lab_test_detail" class="editor_form" role="form" novalidate>
					<div class="form-group">
						<label class="test_label">{{selected_test.name}}</label>
					</div>
	        		<section>
	 					<div class="form-group">
							<label class="form_section_header">Required</label>
						</div>
						<div class="form-group">
							<label class="field_label">Related DX</label>
							<!-- <div class="input-group"> -->
							  	<input type="text" class="form-control" placeholder="Add a diagnoses" ng-model="selected_test.dx" typeahead="dx for dx in model.dx | filter:$viewValue | orderBy:'name'" required>
								<!-- <span class="input-group-addon"><span class="glyphicon glyphicon-list"></span></span> -->
							<!-- </div> -->
						</div>
	        		</section>
	        		<section>
	 					<div class="form-group">
							<label class="form_section_header">Optional</label>
						</div>
						<div class="form-group">
							<label class="field_label">Collected from</label>
							<!-- <div class="input-group"> -->
							  	<input type="text" class="form-control" placeholder="Collected from" ng-model="selected_test.collected" typeahead="col for col in model.collected | filter:$viewValue | orderBy:'name'">
								<!-- <span class="input-group-addon"><span class="glyphicon glyphicon-list"></span></span> -->
							<!-- </div> -->
						</div>
						<div class="form_flex_row">
							<div class="form-group">
								<label class="field_label">Collection date</label>
								<div class="input-group">
									<input class="form-control" type="date" ng-model="test.collection_date">
									<!-- <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span> -->
								</div>
							</div>
							<div class="form-group">
								<label class="field_label">Collection time</label>
								<div class="input-group">
									<input class="form-control" type="time" ng-model="test.collection_time">
									<!-- <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span> -->
								</div>
							</div>
						</div>
						 <div class="form-group">
							<div>
								<div class="checkbox">
									<input id="c1" type="checkbox" ng-model="selected_test.fasting"/>
									<label for="c1"><span></span>Fasting for 8-12 hours</label>
								</div>
							</div>
						</div>
						 <div class="form-group">
							<div>
								<div class="checkbox">
									<input id="c2" type="checkbox" ng-model="selected_test.stet"/>
									<label for="c2"><span></span>Stet</label>
								</div>
							</div>
						</div>
	 					<div class="form-group">
							<label class="field_label">Notes</label>
						  	<input type="text" class="form-control" placeholder="Add note" ng-model="selected_test.note">
						</div>
					</section>
				</form>
	        </div>
	      </div>
	    </div>
	</div>			

<!-- 	<div class="timeline">
		<div class="markers">
			<div class="marker" ng-class="{marker_active:slideIdx==0}" ng-click="slideIdx=0"></div>
			<div class="marker" ng-class="{marker_active:slideIdx==$index+1}" ng-repeat="test in selected_order.tests" ng-click="goToSlide($index+1)"></div>
		</div>
	</div>
 -->
	<footer>
		<div>
			<button class="button_blue_border" ng-click="deleteOrder()">Delete</button>
		</div>
		<div>
			<button class="button_blue_border" ng-click="closeEditor()">Save</button>
		</div>
		<div>
			<button class="button_blue_border" ng-disabled="slideIdx==0" ng-click="goPrevSlide()">Back</button>
		</div>
		<div>
			<button class="button_blue" ng-disabled="getNextDisabled()" ng-hide="slideIdx==selected_order.tests.length" ng-click="goNextSlide()">Next</button>
			<button class="button_blue" ng-show="slideIdx==selected_order.tests.length" ng-disabled="hasNotification(selected_order.id)" ng-click="submitOrder(selected_order)">Send</button>
		</div>
	</footer>
</div>
