<div class="editor" ng-class="{editor_slide: editor.type=='lab_test_detail'}">
	<div class="editor_header">
		<div class="row editor_header_1">
			<a class="col-xs-11" ng-click="scrollToSelection()">Orders: {{selected_order.lab.name}}</a>
			<a class="col-xs-1 text-right" ng-click="closeEditor()"><img src="images/icon_close.png"></a>
		</div>
		<div class="row editor_header_2">
			<a class="col-xs-1 text-right" ng-click="scrollToSelection()"><img src="images/icon_editor_back.png"></a>
			<a class="col-xs-11" ng-click="scrollToSelection()">{{selected_test.name}}</a>
		</div>
	</div>
	<div class="editor_body">
		<form name="form_lab_test_detail" class="form-horizontal editor_form" role="form" novalidate>
			<div class="form-group">
				<label class="col-sm-12 editor_section_header">Required</label>
			</div>
			<div class="form-group">
				<label class="col-sm-12 editor_section_name">Related diagnoses</label>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<div class="input-group">
					  	<input type="text" class="form-control" tabindex="2" placeholder="Type to add a diagnoses" ng-model="selected_test.dx" typeahead="dx for dx in model.dx | filter:$viewValue" required>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><img src="images/icon_dx.png"></button>
						</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label class="col-sm-12 editor_section_header temp_margin">Optional</label>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="checkbox">
						<input id="c1" type="checkbox" tabindex="2" ng-model="selected_test.fasting"/>
						<label for="c1"><span></span>Fasting for 8-12 hours</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="checkbox">
						<input id="c2" type="checkbox" tabindex="2" ng-model="selected_test.cholesterol"/>
						<label for="c2"><span></span>Patient has history of high cholesterol</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="checkbox">
						<input id="c3" type="checkbox" tabindex="2" ng-model="selected_test.test_date.value"/>
						<label for="c3"><span></span>Perform test on specific date/time</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
				  	<input type="text" class="form-control" tabindex="2" placeholder="Add note" ng-model="selected_test.note">
				</div>
			</div>
		</form>
	</div>			
	<footer class="row">
		<div class="col-xs-3">
			<button class="button_blue_border" tabindex="2" ng-click="deleteTest()">Delete</button>
		</div>
		<div class="col-xs-9 text-right">
			<button class="button_blue" tabindex="2" ng-click="closeEditor()">Done</button>
		</div>
	</footer>
</div>
