<div class="editor" ng-class="{editor_slide: editor.type=='lab_test_detail'}">
	<div class="editor_header">
		<div class="title">
			<a ng-click="scrollToSelection()">Orders: {{selected_order.lab.name}}: {{selected_test.name}}</a>
		</div>
		<a class="button_close" ng-click="closeEditor()"><img src="images/icon_close.png"></a>
	</div>
	<div class="editor_body">
		<form class="form-horizontal editor_form" role="form">
			<div class="form-group">
				<label class="col-sm-12 editor_section_name">Related diagnoses</label>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<div class="input-group">
					  	<input type="text" class="form-control" placeholder="Type to add a diagnoses" ng-model="dx" typeahead="dx for dx in model.dx | filter:$viewValue">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><img src="images/icon_dx.png"></button>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="checkbox">
						<input type="checkbox" id="c1"/>
						<label for="c1"><span></span>Fasting for 24 hours</label>
					</div>
				</div>
			</div>
		</form>
		<hr>
		<form class="form-horizontal editor_form" role="form">
			<div class="form-group">
				<label class="col-sm-12 editor_section_name">Optional</label>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="checkbox">
						<input type="checkbox" id="c2"/>
						<label for="c2"><span></span>Patient has history of high cholesterol</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="checkbox">
						<input type="checkbox" id="c3"/>
						<label for="c3"><span></span>Perform test on specific date/time</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
				  	<input type="text" class="form-control" placeholder="Add note">
				</div>
			</div>
		</form>
	</div>			
	<footer class="row">
		<div class="col-xs-3">
			<button class="button_blue_border" ng-click="closeEditor()">Cancel</button>
		</div>
		<div class="col-xs-9 text-right">
			<button class="button_blue" ng-click="closeEditor()">Done</button>
		</div>
	</footer>
</div>
