<div class="editor" ng-class="{editor_slide: editor.type=='lab_selection'}">
	<div class="editor_header">
		<div class="title">
			<a ng-click="scrollToSelection()">Orders: Select Lab</a>
		</div>
		<a class="button_close" ng-click="closeEditor()"><img src="images/icon_close.png"></a>
	</div>
	<div class="editor_body">
		<div class="table">
			<div class="table_body">
				<a class="row table_row_70" ng-repeat="lab in model.labs track by $index" ng-click="addLabOrder(lab)">
					<div class="col-xs-5"><img ng-src="{{lab.logo}}"></div>
					<div class="col-xs-7">
						<div>{{lab.name}}</div>
						<div>{{lab.id}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<footer class="row">
		<div class="col-xs-3">
			<button class="button_blue_border" ng-click="closeEditor()">Delete</button>
		</div>
		<div class="col-xs-9 text-right">
			<button class="button_blue" ng-click="closeEditor()">Done</button>
		</div>
	</footer>
</div>