<div id="BODY" ui-view></div>

<div id="AD_RIGHT">
	<div class="ad"></div>
</div>

<div id="AD_RIGHT">
	<div class="ad"></div>
</div>

<div id="AD_BOTTOM">
	<div class="ad"></div>
</div>

<nav id="NAV_MAIN">
	<img src="images/logo.png">
	<a href="#/ehr/home" ng-class="{nav_active:stateName=='ehr.home'}"><img src="images/nav_home.png"></a>
	<a href="#/ehr/schedule" ng-class="{nav_active:stateName=='ehr.schedule'}"><img src="images/nav_schedule.png"></a>
	<a href="#/ehr/tasks" ng-class="{nav_active:stateName=='ehr.tasks'}"><img src="images/nav_tasks.png"></a>
	<a href="#/ehr/charts" ng-class="{nav_active:stateName=='ehr.charts'}"><img src="images/nav_charts.png"></a>
	<a href="#/ehr/messages" ng-class="{nav_active:stateName=='ehr.messages'}"><img src="images/nav_messages.png"></a>
	<a href="#/ehr/reports" ng-class="{nav_active:stateName=='ehr.reports'}"><img src="images/nav_reports.png"></a>
	<a href="#/ehr/lock" ng-class="{nav_active:stateName=='ehr.lock'}"><img src="images/nav_lock.png"></a>
	<a href="#/ehr/settings" ng-class="{nav_active:stateName=='ehr.settings'}"><img src="images/nav_settings.png"></a>
	<a href="#/ehr/help" ng-class="{nav_active:stateName=='ehr.help'}"><img src="images/nav_help.png"></a>
	<a href="#/ehr/feedback" ng-class="{nav_active:stateName=='ehr.feedback'}"><img src="images/nav_feedback.png"></a>
</nav>