<div id="HEADER_PHONE">
</div>


<div id="HEADER_MAIN">
	<div id="TABS_1">
		<a class="static_link">Scheduled</a>
		<a class="static_link">Recently Seen</a>
		<span class="patient_tab" ng-repeat="patient in charts">
			<a ng-class="{patient_selected:selectedPatient.id==patient.id}" ng-click="selectPatient(patient)">{{patient.firstName}} {{patient.lastName}}</a>
			<a>X</a>
		</span>
	</div>
	<div id="TITLE">
		<img ng-src="{{selectedPatient.image}}">
		<div id="TITLES">
			<div class="info">
				<p class="patient_name">{{selectedPatient.firstName}} {{selectedPatient.lastName}}</p>
				<div class="patient_details">
					<p>{{selectedPatient.age}} {{selectedPatient.sex}}</p>
					<p>{{selectedPatient.dob | date:'MM/dd/yyyy'}}</p>
				</div>
				<div class="patient_details">
					<p>{{selectedPatient.phone | phone}}</p>
					<p>{{selectedPatient.insurance}}</p>
				</div>
				<div class="controls">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#base">
							Actions
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu .pull-right">
							<li><a href="#base">Menu item one</a></li>
							<li><a href="#base">Menu item two</a></li>
							<li><a href="#base">Menu item three</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tabs">
				<div class="tab" ng-class="{selected_tab:selectedTab=='facesheet'}" ng-click="selectedTab='facesheet'">
					<p class="title">Facesheet</p>
					<img src="images/tab_arrow.png" ng-show="selectedTab=='facesheet'">
				</div>
				<div class="tab" ng-class="{selected_tab:selectedTab=='timeline'}" ng-click="selectedTab='timeline'">
					<p class="title">Timeline</p>
					<img src="images/tab_arrow.png" ng-show="selectedTab=='timeline'">
				</div>
				<div class="tab" ng-class="{selected_tab:selectedTab=='visit'}" ng-click="selectedTab='visit'">
					<p class="title">Office Visit</p>
					<img src="images/tab_arrow.png" ng-show="selectedTab=='visit'">
				</div>
			</div>
		</div>
	</div>
</div>

<section id="BODY">
	<div class="view" ng-show="selectedTab=='facesheet'">
		Facesheet
	</div>
	<div class="view" ng-show="selectedTab=='timeline'">
		Timeline
	</div>
	<div class="view" ng-show="selectedTab=='visit'">
		<div class="controls">
			<button class="show_button">Show...</button>
			<div id="CHART_VISIT_SEARCH" class="input-append">
				<input type="search" placeholder="Search">
				<button class="btn" type="button"><img src="images/search_icon.png"></button>
			</div>
			<div class="controls_right">
				<p class="tasks">Tasks <span class="badge badge-success">2</span></p>
				<button class="gray">Save</button>
				<button class="orange">Sign</button>
			</div>
		</div>
		<div class="info_box" ng-class="{info_box_visible:showingInfo}">
			<header>
				Record Smoking Status
				<a class="icon_close" ng-click="showingInfo=!showingInfo">x</a>
			</header>
		</div>
		<div class="content" ng-class="{content_reduced:showingInfo}">
			<section>
				<header>
					<div class="section_title">Chief Complaint</div>
				</header>
				<div class="section_content">
					<a ng-click="showingInfo=!showingInfo">{{selectedPatient.visit.cc}}</a>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Vital Signs</div>
				</header>
				<div class="section_content">
					<div class="table_h">
						<div class="table_h_cell">
							<p class="cell_header">TEMP</p>
							<a>{{selectedPatient.visit.vitals.temp}}</a>
						</div>
						<div class="table_h_cell">
							<p class="cell_header">BP</p>
							<a>{{selectedPatient.visit.vitals.bp}}</a>
						</div>
						<div class="table_h_cell">
							<p class="cell_header">PULSE</p>
							<a>{{selectedPatient.visit.vitals.pulse}}</a>
						</div>
						<div class="table_h_cell">
							<p class="cell_header">RESP</p>
							<a>{{selectedPatient.visit.vitals.resp}}</a>
						</div>
						<div class="table_h_cell">
							<p class="cell_header">02 SAT</p>
							<a>{{selectedPatient.visit.vitals.sat}}</a>
						</div>
						<div class="table_h_cell">
							<p class="cell_header">HEIGHT</p>
							<a>{{selectedPatient.visit.vitals.height}}</a>
						</div>
						<div class="table_h_cell">
							<p class="cell_header">WEIGHT</p>
							<a>{{selectedPatient.visit.vitals.weight}}</a>
						</div>
						<div class="table_h_cell">
							<p class="cell_header">BMI</p>
							<a>{{selectedPatient.visit.vitals.bmi}}</a>
						</div>
					</div>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Medications</div>
					<div class="options">
						<a>Record</a>
						<a>Order</a>
					</div>
				</header>
				<div class="section_content">
					<ul>
						<li ng-repeat="med in selectedPatient.visit.medications">
							<span><a>{{med.name}}</a></span>
							<span>{{med.method}}</span>
							<span>{{med.dosage}}</span>
							<span class="light">{{med.doctor}}</span>
							<span>{{med.date | date:'MM/dd/yyyy'}}</span>
							<span>{{med.refill}}</span>
						</li>
					</ul>
					<a class="link_historical">View Historical <span><img src="images/link_arrow.png"></span></a>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Problem List</div>
					<div class="options">
						<a>Record</a>
						<a>Sorted by date</a>
					</div>
				</header>
				<div class="section_content">
					<ul>
						<li ng-repeat="problem in selectedPatient.visit.problems">
							<span><a>{{problem.name}}</a></span>
							<span class="light">{{problem.metric}}</span>
							<span>{{problem.doctor}}</span>
							<span>{{problem.date | date:'MM/dd/yyyy'}}</span>
						</li>
					</ul>
					<a class="link_historical">View Historical <span><img src="images/link_arrow.png"></span></a>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Past Medical History</div>
					<div class="options">
						<a>Record</a>
					</div>
				</header>
				<div class="section_content">
					<ul>
						<li ng-repeat="med in selectedPatient.visit.historyMedical">
							<span><a>{{med.name}}</a></span>
							<span>{{med.doctor}}</span>
							<span class="light">{{med.date | date:'MM/dd/yyyy'}}</span>
						</li>
					</ul>
					<a class="link_historical">All (5) <span><img src="images/link_arrow.png"></span></a>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Past Surgical History</div>
					<div class="options">
						<a>Record</a>
					</div>
				</header>
				<div class="section_content">
					<ul>
						<li ng-repeat="surg in selectedPatient.visit.historySurgical">
							<span><a>{{surg.name}}</a></span>
							<span>{{surg.doctor}}</span>
							<span class="light">{{surg.date | date:'MM/dd/yyyy'}}</span>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Family History</div>
					<div class="options">
						<a>Record</a>
					</div>
				</header>
				<div class="section_content">
					<ul>
						<li ng-repeat="fam in selectedPatient.visit.historyFamily">
							<span><a>{{fam.name}}</a></span>
							<span>{{fam.details}}</span>
							<span class="light">{{fam.notes}}</span>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Social History</div>
					<div class="options">
						<a>Record</a>
					</div>
				</header>
				<div class="section_content">
					<ul>
						<li ng-repeat="social in selectedPatient.visit.historySocial">
							<span><a>{{social.name}}</a></span>
							<span>{{social.details}}</span>
							<span class="light">{{social.notes}}</span>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Activities of Daily Living</div>
					<div class="options">
						<a>Record</a>
					</div>
				</header>
				<div class="section_content">
					<p>None recorded</p>
				</div>
			</section>
			<section>
				<header>
					<div class="section_title">Progress Note</div>
					<div class="options">
						<a>Include</a>
					</div>
				</header>
				<div class="section_content">
				</div>
			</section>
		</div>
	</div>
</section>